{% extends "_common/base.html" %}
{% block sub_title %}TOP{% endblock %}

{% block main %}

  {# 結果の表示 #}
  {% if results != 'wait' %}
    <form method="POST" action="{% url 'gentext:index' %}">
      {% csrf_token %}
      {% for data in results %}
        <div><input type="radio" class="mb-2" name="text" value="{{ data }}">{{ data }}</div>
      {% endfor %}
      <div>
        <button type="submit" class="btn btn-primary" name="btn_decide">決定</button>
      </div>
    </form>
  {% endif %}


  {# 日記追加画面に戻る #}
  <div>
    <a class="btn btn-secondary" href="{% url 'gentext:generate' %}">戻る</a>
  </div>


  {# 結果が取得されるまでは5秒ごとに画面をリロード #}
  {% if results == 'wait' %}
    <script type="text/javascript">
    setTimeout(() => {
        location.reload();
    }, 3000);
    </script>
  {% endif %}

{% endblock %}