body{
	margin:0;
	padding:0;
	overflow-x: hidden;
}

#canvas{
	width: 960px;
	height: 600px;
	margin: 30px auto 50px auto;
}

#diary-zoom{
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

.diary{
	margin-top:20px;
	width:942px;
	height:600px;
}

.diary .page{
	width:471px;
	height:600px;
	background:white;

	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.diary .hard{
	background-image:url(/static/img/covers.jpg);
}

.diary .p2{
	background-position:-471px 0;
}

.diary .generate{
	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
	background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:linear-gradient(left, #fff 95%, #dadada 100%);
}

.diary .before-last{
	background-position:-942px 0;
}

.diary .last{
	background-position:-1413px 0;
}

.diary .even .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image:url(/static/img/right-border.png);
	background-position:right top;
	background-repeat: repeat-y;
}

.diary .odd .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image:url(/static/img/left-border.png);
	background-position:left top;
	background-repeat: repeat-y;
}

.diary .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}


.diary .loader{
	background-image:url(/static/img/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}

.diary .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.diary .tabs{
	width:942px;
	height:22px;
	top:-22px;
	position:relative;
	z-index:1;
}

.diary .tabs > div{
	width:461px;
	height:22px;
	float:left;
}

.diary .tabs .left{
	text-align:left;
	margin-left:10px;
}


.diary .tabs .right{
	text-align:right;
	margin-right:10px;
}

.diary .tabs a{
	color:black;
	-webkit-border-image: url('/static/img/tab-off.png') 5 20 5 20 repeat stretch;
	border-width: 5px 20px 5px 20px;
	display:inline-block;
	font:bold 11px arial;
	text-shadow:1px 1px 0 #ddd;
	color:#333;
	line-height:12px;
	text-decoration:none;
}

.diary .tabs .on,
.diary .tabs .on:hover{
	-webkit-border-image: url('/static/img/tab-on.png') 5 20 5 20 repeat stretch;
	cursor:default;
}

.diary .tabs a:hover{
	color:black;
	text-decoration: none;
	cursor:pointer;
	-webkit-border-image: url('/static/img/tab-hover.png') 5 20 5 20 repeat stretch;
}

@media screen and (max-width: 1023px)
{
	#canvas
	{
		margin-bottom: 0;
		width: 100%;
		height: auto;
		aspect-ratio: 2/3;
	}

	#diary-zoom
	{
		width: 100%;
		height: auto;
	}

	.diary
	{
		margin: 0 auto;
		width: 100%;
		height: auto;
		aspect-ratio: 2/3;
	}
}