@import "settings.scss";
@import "bootstrap/bootstrap.scss";
@import "_common/*";
@import "top/*";
@import "gentext/*";


#wrap
{
	min-height: 100vh;
	min-width: 100vw;
	overflow-x: hidden;
	color: $col-text;
	background-color: #CCC;
}

.hidden
{
	display: none;
}