{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block sub_title %}{% endblock %}</title>

  {# CSS読み込み #}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  {# JavaScript読み込み #}
  <script type="text/javascript" src="/static/js/turn-js/extras/jquery.min.1.7.js"></script>
  <script type="text/javascript" src="/static/js/turn-js/extras/jquery-ui-1.8.20.custom.min.js"></script>
  <script type="text/javascript" src="/static/js/turn-js/extras/jquery.mousewheel.min.js"></script>
  <script type="text/javascript" src="/static/js/turn-js/extras/modernizr.2.5.3.min.js"></script>
  <script type="text/javascript" src="/static/js/turn-js/lib/hash.js"></script>
  <script type="text/javascript" src="/static/js/_common/bootstrap.js"></script>

  <script type="text/javascript">
    // エラーモーダルの表示
    {% if form.errors %}
      $(window).on("load", function()
      {
        $("#error_modal").modal("show");
      });
    {% endif %}

    // メッセージモーダルの表示
    {% if messages %}
      $(window).on("load", function()
      {
        $("#message_modal").modal("show");
      });
    {% endif %}
  </script>
</head>

<body>
<div id="wrap" class="bg-white d-flex flex-column">

{# メッセージ #}
<div id="message_modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square-fill" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
          メッセージ
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if messages %}
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        {% endif %}
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

{# フォームエラー #}
<div id="error_modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          エラーメッセージ
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" class="is-invalid">
        <div class="invalid-feedback">{{ form.non_field_errors }}</div>
        {% for field in form %}
          {% if field.errors %}
            {{ field.label_tag }}
            <div class="invalid-feedback mb-2">{{ field.errors }}</div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

{# ヘッダー #}
<header class="header bg-white">
  <div class="d-flex container justify-content-center align-items-center h-100">
    <div>
      <a class="nologin-title" href="{% url 'index' %}">
        <h2>Reptiles</h2>
      </a>
    </div>
  </div>
</header>

{# メイン #}
<main class="main flex-fill d-flex">
  <div class="container flex-fill mt-4 mb-4">
    {% block main %}

    {% endblock %}
  </div>
</main>

{# フッター #}
<footer class="footer nologin bg-dark text-center pt-4">
  <small>&copy;2021&nbsp;Team Tateyama3015</small>
</footer>

</div>
</body>
</html>